<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.vertx.shopcrawler.infomanager.mapper.MallTypeMapper">
  <select id="selectMallType" parameterType="String" resultType="io.vertx.shopcrawler.infomanager.type.MallType">
    SELECT * FROM crawling_info.mall_type WHERE mall_type='${value}'
  </select>
  <select id="selectMallTypeList" resultType="io.vertx.shopcrawler.infomanager.type.MallType">
    SELECT * FROM crawling_info.mall_type
  </select>
  <select id="insertMallType" parameterType="io.vertx.shopcrawler.infomanager.type.MallType">
    INSERT INTO crawling_info.mall_type (mall_type, post_fix) VALUES ('${mall_type}', '${post_fix}')
  </select>
</mapper>